//colors
$primary-color: #5fb759;
$white: #fff;
$black: #000;
$border-color: #f7f7f7;
$footer-gradient-bg: linear-gradient(to right, rgb(56,159,158) 30%, rgb(95,196,153) 100%);
$txt-color: #777;
$indent: -9999px;

//text transform
$uppercase: uppercase;