//colors
$primary-color: #5fb759;
$white: #fff;
$black: #000;
$border-color: #f7f7f7;
$nav-gradient-bg: linear-gradient(to-right, rgb(55,158,157) 0%, 50B69A, rgba(40,97,172,1) 50%, rgb(96,197,153) 100%);
$txt-color: #777;

$indent: -9999px;

//text transform
$uppercase: uppercase;