//hamburger
.hamburger { 
  @include desktops() { display: none; }
  cursor: pointer;
  
  &.active { display: block; }
  &.active .bar:nth-child(2) { opacity: 0;}
  &.active .bar:nth-child(1) { @include transformRotate(45, translate(0, 8px)); }
  &.active .bar:nth-child(3) { @include transformRotate(-45, translate(0, -8px)); }
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  background-color: $white;
  text-indent: $indent;
  transition: all .3s ease-in-out;
}

// banner cta
.banner-read-more-cta {
  @include banner-cta(transparent, $white) { 
    margin-right: 2.1%;
    border: 2px solid $white; 
  };

  &:hover { 
    @include hover-effects() {
      background-color: $white;
      color: $primary-color;
    }
  }
}

.banner-take-action-cta { 
  @include banner-cta($white, $primary-color); 

  &:hover { @include hover-effects() {
    background-color: $primary-color;
    color: $white;
  }}
}

//go down btn
.go-down-btn {
  @include icon-box(60px, 60px);
  display: inline-block;
  background-color: $primary-color;
  color: $white;
  text-indent: $indent;

  &::after {
    @include font-icons("\f063", $white, 20px) {
      padding: 20px 38% 0 0;
    }
  }
}

//about-us-cta 
.about-us-cta {
  margin-top: 60px;
  font-size: 13px;
  border-radius: 25px;
  padding: 13px 25px;
  background-color: $primary-color;
  text-transform: uppercase;
  color: $white;
  font-weight: 600;
  letter-spacing: 1px;

  &::after { 
    @include font-icons("\f178", $white, 12px) {
      padding-left: 5px;
    };
  }

  &:hover { 
    @include hover-effects() {
      background-color: $black;
      color: $primary-color;
    }
  }
}

.learn-more-cta {
  margin-top: 15px;
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  &::after { 
    @include font-icons("\f178", $black, 12px) { padding-left: 5px; };
  }

  &:hover::after { @include hover-effects() { color: $primary-color; }}

  &:hover { @include hover-effects() { color: $primary-color; } }
}

.subscribe-btn {
  padding: 10px 25px;
  margin-left: 2.8%;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: $white;
  color: #5fb759;
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:hover { 
    @include hover-effects() {
      background-color: $primary-color;
      color: $white;
    }
  }

  @include breakpoints(tablet) { 
    margin-top: 20px;
    width: 40%; 
  }
}