.about-us  {
  padding-top: 120px;

  .wrapper {
    @include flexbox();
    border-bottom: 5px solid $border-color;

    @include breakpoints(ipad-pro) { @include flex-direction(column); }
    & > * { flex: 1; }

    @at-root
    .qualities {
      @include flexbox();
      @include flex-wrap(wrap);

      li { 
        @include flexbox();
        @include align-items(center);
        @include flex-basis(50%);

        &:first-child { padding-bottom: 15px; }
        &:nth-child(2){ padding-bottom: 15px}

        @include breakpoints(tablet) { 
          @include flex-basis(100%); 
          padding-bottom: 15px;
        }

        &::before { content: url(/assets/images/service-item-01.png); }
      }
    }

    .left-content { .section-subheading { padding-bottom: 41px; } }

    @at-root
    .quality-txt{
      padding-left: 5%;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }

    @at-root
    .about-us-content {

      &:first-of-type {margin-top: 47px;}

      margin-bottom: 27px;
      color: $txt-color;
      font-size: 16px;
      line-height: 1.7;
    }


  }
}