.digital-team {
  padding: 25px 0 123px;
  background: url('/assets/images/slide-03.jpg');

  .wrapper {
    .section-subtitle { 
      padding-bottom: 64px;
      text-transform: lowercase
    }
  }
}