.process {
  padding: 80px 0 118px;

  .wrapper {
    @at-root
    .process-details {
      @include flexbox();

      @include breakpoints(ipad-pro) { @include flex-direction(column); }

      @at-root
      .process-item {
        margin-right: 2.5%;
        @include flexbox();
        @include flex-basis(31.66%);

        @include breakpoints(ipad-pro) { padding-bottom: 15px; }

        @at-root
        .process-figure { 
          margin-right: 8%;
          img { 
            width: inherit;
            height: auto;
          }
        }

        @at-root
        .feature-icon {
          text-indent: $indent;
          
          &::before { 
            content: url('/assets/images/features-icon-1.png');
            // margin-right: 5%;  
            text-indent: 0;
            float: right;
          }
        }

        @at-root 
        .process-content { margin-left: 6%;}
        
        &:nth-child(3n) { margin-right: 0; }
      }

      @at-root
      .process-title { 
        color: $black;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        margin-bottom: 15px;
      }
    }

    .process-details {
      color: $txt-color;
      font-size: 14px;
      line-height: 25px;
    }
  }
}